* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.recipes {
    height: auto;
    width: 400px;
}
.title-image,
.center {
    text-align: center;
}
ol {
    color: purple;
}
ul {
    color: green
}
.rainbow {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow_animation 2s linear infinite;
    margin: auto 50px;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.link-container {
    /* border: 3px solid red; */
}
.link-container button {
    border: 3px solid rgb(117, 50, 231);
    /* margin-left: 33%; */
    /* margin-left: 240px; */
    width: 250px;
    height: 25px;
    margin: 4px auto;
    padding-top: 4px;
    /* text-align: center; */
    /* box-sizing: border-box; */
}
#shadowBox {

}