* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.recipes {
    height: auto;
    width: 400px;
}
.title-image,
.center {
    text-align: center;
}
ol {
    color: purple;
}
ul {
    color: green
}
.color-me {
    animation: rainbow 10s linear infinite;
}
.link-container {
    /* border: 3px solid red; */
}
.link-container button {
    border: 3px solid rgb(117, 50, 231);
    /* margin-left: 33%; */
    /* margin-left: 240px; */
    width: 250px;
    height: 25px;
    margin: 4px auto;
    padding-top: 4px;
    /* text-align: center; */
    /* box-sizing: border-box; */
}
